__pycache__
%*
.idea
.vscode
src/tasks/humaneval_x/env/vendor
logs
outputs
data/full
results
config.sh
download
.DS_Store
# local*
*.ipynb
.cache
src/tasks/card_game/result
.dockerfile
.dockerfile-cache
.assignment.bash
.assignments